.navbar {
  background-color: #4b2c58; /* Sfondo viola */
  padding: 0.5rem 1rem; /* Adjusted padding */
  width: 100%;
  z-index: 1000;

}

.navbar-brand {
  color:#f9f0e1; /* Colore del testo principale */
  font-weight: bold; /* Grassetto */
  display: flex;
  align-items: center;
}

.navbar-brand .logo {
  height: 35px;
  width: 150px;
  margin-right: 10px;
  margin:15px;
}

.navbar-nav .nav-link {
  color: #f9f0e1; /* Colore del testo secondario */
  padding: 0.5rem 1rem; /* Padding laterale */
  margin-top: 5px;
  font-weight: 250;
  font-size: 24px; /* Dimensione del font */
}

.navbar-nav .nav-link:hover {
  color:#EFD8B2; /* Colore del testo al passaggio del mouse */
}


.bi{
  color:#f9f0e1;
  font-size: 25px
    }


  .bi:hover {
    color:#EFD8B2;
  }



