<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="https://res-console.cloudinary.com/dsgbzgpvc/thumbnails/v1/image/upload/v1720542113/U2NyZWVuc2hvdF8yMDI0LTA3LTA2XzEyMDYxMV9mY2M3Ym0=/drilldown" alt="DiVino" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Tour</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/travelpackages">Crea Offerta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/wineries">Crea Cantina</a>
        </li>
      </ul>
      <div class="d-flex ms-auto">
        <button routerLink="/auth/login" type="button" class="btn btn-outline-primary me-2">Login</button>
        <button routerLink="/auth/register" type="button" class="btn btn-primary me-2">Register</button>
        <button (click)="logout()" *ngIf="isUserLoggedIn" class="btn btn-danger me-2">Esci</button>
      </div>
    </div>
  </div>
</nav>
