.container {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #fdf9ea;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border: 2px solid #4b2c58;
  border-radius: 20px;
}


.container h2 {
  margin: 0 0 30px;
  padding: 0;
  color:#4b2c58;
  text-align: center;
}


.container .user-box{
  position: relative;
}

.container .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #4b2c58;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid#4b2c58;
  outline: none;
  background: transparent;
}

.letter{
 color: #4b2c58 ;
}
.container .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color:#4b2c58;
  pointer-events: none;
  transition: .5s;
}

.container .user-box input:focus ~ label,
.container .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color:#4b2c58;
  font-size: 12px;
}


.container .register-text {
  text-align: center;
  margin-top: 20px;
}

.container .register-text a {
  color:#4b2c58;
  text-decoration: none;
  transition: color 0.3s;
}


.container .register-text a:hover {
  color:#c097d2
}


.container button {
  background-color: #EFD8B2;

  color: #4b2c58;
  border: 2px solid #4b2c58;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-left: 100px;
}


.container button:hover {
  background-color:#4b2c58;
  color:#EFD8B2;
}
