<div class="container">
  <h2>Accedi</h2>

  <form class="yellow">
    <div class="user-box">
      <input
      type="text"
      name="username"
      [(ngModel)]="loginData.userName"
      class=" letter"
      placeholder=""
      required
    />
    <label class="letter">username</label>
</div>
    <div class="user-box">
      <input
      type="password"
      name="password"
      [(ngModel)]="loginData.password"
      class=" letter"
      placeholder=""
      required
    />
    <label class="letter">password</label>
</div>

    <button (click)="signIn()" class="btn letter">Accedi</button>
    <p class="register-text">Non sei registrato? <a routerLink="/auth/register">Registrati qui</a></p>
  </form>
</div>
