<div class="container mt-4">
  <h1>Proponi un'esperienza</h1>
  <form class="pt-3">
    <div class="travelpackage">
       <label class="letter">wineryId</label>
      <input
        type="number"
        name="wineryId"
        [(ngModel)]="newTravelpackage.wineryId"
        class="letter "
        placeholder=""
        required
      />

    </div>

    <div class="travelpackage">

      <input
        type="date"
        name="startDate"
        [(ngModel)]="newTravelpackage.startDate"
        class="letter "
        placeholder=""
        required
      />

    </div>

    <div class="travelpackage">

      <input
        type="date"
        name="endDate"
        [(ngModel)]="newTravelpackage.endDate"
        class="letter "
        placeholder=""
        required
      />

    </div>

    <div class="travelpackage">
      <label class="letter">prezzo</label>
      <input
        type="number"
        name="price"
        [(ngModel)]="newTravelpackage.price"
        class="letter"
        placeholder=""
        required
      />

    </div>

    <div class="travelpackage">
      <input type="file" (change)="onFileSelected($event)" class="letter " />

    </div>

    <button (click)="aggiungiTravelpackage()" class="btn ">
      Crea
    </button>
  </form>
</div>
