<div class="container">
<h1>Crea una Cantina</h1>
<form #wineryForm="ngForm" (ngSubmit)="aggiungiWinery()">
  <div class="winery">
    <input type="text" name="wineryName"
    [(ngModel)]="newWinery.wineryName"
    class=" letter" placeholder="" required>

    <label class="letter">nome cantina</label></div>

  <div class="winery">
  <input type="text" name="location"
    [(ngModel)]="newWinery.location"
    class=" letter" placeholder="" required>
    <label class="letter">luogo</label>
  </div>
  <div class="winery">
    <input type="text" name="description"
    [(ngModel)]="newWinery.description"
    class=" letter" placeholder="" required>
    <label class="letter">descrizione</label>
  </div>

  <div class="winery">
  <input type="text" name="tastingExperience"
    [(ngModel)]="newWinery.tastingExperience"
    class=" letter" placeholder="" required>
    <label class="letter">tipo di esperienza</label></div>
  <button type="submit" class="btn ">Crea</button>
</form>
</div>
