
@import 'bootstrap/scss/bootstrap';
body {
  background-color: #fff; /* Colore di sfondo bianco */
  font-family: Arial, sans-serif; /* Font family generico */
  margin: 0; /* Rimuove i margini di default */
  padding: 0; /* Rimuove i padding di default */
}

.container {
  max-width: 1200px; /* Larghezza massima del contenitore */
  margin: 2rem auto; /* Margine superiore e inferiore */
  padding: 0 1rem; /* Padding laterale */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; /* Grassetto per tutti i titoli */
}

p {
  line-height: 1; /* Altezza della riga */
}


.btn {
  padding: 0.5rem 1rem; /* Padding del pulsante */
  cursor: pointer; /* Cambia il cursore in pointer al passaggio del mouse */
}


.text-center {
  text-align: center; /* Allinea il testo al centro */
}


