
<div class="body">

  <div class="content container d-flex align-items-center">



<div>
  <img class= "pb-5"src="https://res-console.cloudinary.com/dsgbzgpvc/thumbnails/v1/image/upload/v1720916793/bG9nb19wdXJwbGVfeWJyemE2/drilldown" alt="logo DiVino">
   <h5 class="color pt-5 pb-3">Esplora l'eccellenza vinicola e acquista <br> il lusso con un click.</h5>
      <h3 class="color">Siamo il portale dove l élite incontra <br>la perfezione enologica</h3>
    </div>

      <img class=" lady pt5" src="https://res-console.cloudinary.com/dsgbzgpvc/thumbnails/v1/image/upload/v1720992044/YXVyZWxpYV9iNGo3eHk=/drilldown" alt="girl">

  </div>


  <!-- cards ciclo -->
  <div *ngFor="let package of travelpackages" class="card mt-3">
    <div class="card-img">
      <img *ngIf="package.imageUrl" [src]="package.imageUrl" alt="vitigni">
      <div class="img"></div>
    </div>
    <div class="card-title">{{ package.travelPackageName }}</div>
    <div class="card-subtitle">
      Winery ID: {{ package.wineryId }}<br>
      Start Date: {{ package.startDate | date }}<br>
      End Date: {{ package.endDate | date }}
    </div>
    <hr class="card-divider">
    <div class="card-footer">
      <div class="card-price"><span>€</span> {{ package.price | currency }}</div>
      <button class="delete-btn" (click)="deletePackage(package.id)"  *ngIf="isUserLoggedIn">Elimina</button>
      <button class="edit-btn" (click)="openEditModal(package.id)"  *ngIf="isUserLoggedIn">Modifica</button>
    </div>
  </div>
</div>

