html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita lo scroll orizzontale */
}

.body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  overflow: hidden; /* Assicurati che il contenuto non superi i limiti */
}

.body::before {
  content: "";
  background-image: url("../../../assets/background.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Imposta qui l'opacità desiderata */
  z-index: -1; /* Posiziona il background dietro il contenuto */
}

.body::after {
  content: "";
  background-image: url("../../../assets/smoke_altsx.png"), url("../../../assets/smoke_bassdx.png");
  position: absolute;
  top: 89px;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 500px 500px, 500px 500px;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  opacity: 1; /* Imposta qui l'opacità desiderata */
  z-index: 1; /* Posiziona l'immagine del fumo dietro il contenuto */
}

#card{
  z-index: 2;}

.color {
  color: #4b2c58;
}

h3  {
  margin-right: -42px;
  font-weight: 400;
}

.explor{
  color:  #4b2c58;
  text-align: center;
  margin: 50px 0;
  font-size: 30px;


}
h5 {
  font-weight: 400;
}

.lady {
  margin-left: 200px;
}

.content {
  margin-top: 70px;
}

.card {
  border: 1px solid #4b2c58;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff8f0;
  margin-bottom: 20px; /* Aggiunge spazio tra le card */
}

.card-img-top {
  margin-bottom: 15px;
}

.card-title {
  font-size: 18px;
  color: #4b2c58;
  margin-bottom: 10px;
}

.card-text, .card-subtitle {
  font-size: 14px;
  color: #4b2c58;
  margin-bottom: 10px;
}

.card-divider {
  border-top: 1px solid #4b2c58;
  margin: 10px 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: none;
}

.card-price {
  font-size: 16px;
  font-weight: bold;
  color: #4b2c58;
}

.btn-circle {
  background-color: #4b2c58;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-circle i {
  font-size: 20px;
}

.btn-circle:hover {
  background-color: #3a2040;
}

.delete-btn, .edit-btn {
  display: none;
}
