<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DiVino</title>
</head>
<body>
  <header class="hero">
    <p class="heroP">Oltre 500 pacchetti esperienza in tutta Italia</p>
  </header>
  <div class="content container">
    <section>
      <h1>Benvenuti nel mondo di DiVino</h1>
      <p>Scopri l'affascinante mondo del vino italiano con le nostre visite guidate in cantina. Approfondisci i segreti della produzione vinicola e assapora i migliori vini del Paese.</p>
      <p>Offriamo diverse soluzioni per rendere il tuo soggiorno ancora più speciale, come pernottamenti in cantina, picnic tra le vigne, cene in cantina, passeggiate a cavallo, tour in ebike, corsi di cucina e molto altro. Inizia il tuo viaggio con DiVino, prenota ora.</p>
      <p>Prenota ora</p>
    </section>
  </div>

  <!-- cards ciclo -->
  <div *ngFor="let package of travelpackages" class="card mt-3">
    <div class="card-img">
      <img *ngIf="package.imageUrl" [src]="package.imageUrl" alt="vitigni">
      <div class="img"></div>
    </div>
    <div class="card-title">{{ package.travelPackageName }}</div>
    <div class="card-subtitle">
      Winery ID: {{ package.wineryId }}<br>
      Start Date: {{ package.startDate | date }}<br>
      End Date: {{ package.endDate | date }}
    </div>
    <hr class="card-divider">
    <div class="card-footer">
      <div class="card-price"><span>€</span> {{ package.price | currency }}</div>
      <button class="delete-btn" (click)="deletePackage(package.id)"  *ngIf="isUserLoggedIn">Elimina</button>
      <button class="edit-btn" (click)="openEditModal(package.id)"  *ngIf="isUserLoggedIn">Modifica</button>
    </div>
  </div>
</body>
</html>
