<div class="container mrg">
  <h2>Registrati</h2>

  <form #registerForm="ngForm" (ngSubmit)="signUp()" class="yellow">
    <div class="user-box">



      <input
        type="text"
        name="username"
        [(ngModel)]="registerData.userName"

        placeholder=""
        required
      />
      <label class="letter">username</label>
    </div>
    <div class="user-box">
      <input
        type="password"
        name="password"
        [(ngModel)]="registerData.password"

        placeholder=""
        required
      />
      <label class="letter">password</label>
    </div>
    <div class="user-box">
      <input
        type="text"
        name="firstName"
        [(ngModel)]="registerData.firstName"

        placeholder=""
        required
      />
      <label id="tiny"class="letter ">name</label>
    </div>
    <div class="user-box">
      <input
        type="text"
        name="lastName"
        [(ngModel)]="registerData.lastName"

        placeholder=""
        required
      />
      <label class="letter">last name</label>
    </div>
    <div class="user-box">
      <input
        type="email"
        name="email"
        [(ngModel)]="registerData.email"

        placeholder=""
        required
      />
      <label class="letter">email</label>


    </div>

    <p class="register-text">
      Hai già un account? <a routerLink="/auth/login">Accedi qui</a>
    </p>
    <button type="submit" class="btn btn-success">Registrati</button>
  </form>
</div>
