
<h1>Registrati</h1>

<form (ngSubmit)="signUp()">
  <input type="text" name="username" [(ngModel)]="registerData.userName" class="form-control" placeholder="username" required>

  <input type="password" name="password" [(ngModel)]="registerData.password" class="form-control" placeholder="password" required>

  <input type="text" name="firstName" [(ngModel)]="registerData.firstName" class="form-control" placeholder="nome" required>

  <input type="text" name="lastName" [(ngModel)]="registerData.lastName" class="form-control" placeholder="cognome" required>

  <input type="email" name="email" [(ngModel)]="registerData.email" class="form-control" placeholder="email" required>


  <button type="submit" class="btn btn-success">Registrati</button>
</form>
