footer {
  background-color: #4b2c58;
  color: #f9f0e1;
  padding: 1rem 0;
}

footer .social-icons a {
  color: #f9f0e1;
  margin: 0 10px;
  font-size: 1.5rem;
}
footer .social-icons a:hover {
  color:#EFD8B2;
}
