<footer class="text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-4 mb-3">
              <img src="https://res-console.cloudinary.com/dsgbzgpvc/thumbnails/v1/image/upload/v1720542113/U2NyZWVuc2hvdF8yMDI0LTA3LTA2XzEyMDYxMV9mY2M3Ym0=/drilldown" alt="DiVino Logo" class="logo mb-3">
              <p>Assapora l'Italia</p>
          </div>
          <div class="col-md-4 mb-3">
              <ul class="nav flex-column">
                  <div class="row">
                      <div class="col-6">
                          <li class="nav-item"><a href="#" class="nav-link">Regioni</a></li>
                          <li class="nav-item"><a href="#" class="nav-link">Contatti</a></li>
                          <li class="nav-item"><a href="#" class="nav-link">FAQ</a></li>
                      </div>
                      <div class="col-6">
                          <li class="nav-item"><a href="#" class="nav-link">Termini e condizioni</a></li>
                          <li class="nav-item"><a href="#" class="nav-link">Privacy Policy</a></li>
                          <li class="nav-item"><a href="#" class="nav-link">Cookie Policy</a></li>
                      </div>
                  </div>
              </ul>
          </div>
      </div>
      <div class="row mt-3">
          <div class="col-md-12 social-icons">
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-google"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
          </div>
      </div>
      <div class="row mt-3">
          <div class="col-md-12">
              <p>© 2024 DiVino, Inc</p>
          </div>
      </div>
  </div>
</footer>
